        <div id="esquerda">

            <a href="/"> <h1 class="titleMenu">Menu</h1> </a> 
            <div id="menu">

                <!-- OPÇÃO 1-->
                <p><a href="/tabela_cliente" id="buttonMenuCadCliente" class="btnMenu btn btn-outline-light btn-lg">
                        Cadastro Cliente
                </a></p>

                <!-- OPÇÃO 2 -->
                 <p><a href="/tabela_pet" id="buttonMenuCadPet" class="btnMenu btn btn-outline-light btn-lg ">
                        Cadastro Pet
                 </a></p>

                <!-- OPÇÃO 3 -->
                <p><a href="/tabela_agenda" id="buttonMenuBanhoTosa"  class="btnMenu btn btn-outline-light btn-lg">
                    Agendar Banho e Tosa
                </a></p>
            </div>
        </div>
        