<html>
<head>
	<title>Sistema de Gestão de Dados</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<center>
	<div style="background:black; height: 70px">
		<a href="/"> 
			<button class="btn btn-outline-primary btn-lg" style="margin-top:12px">home</button> 
		</a> 
			
		<a href="javascript:history.back();"> 
			<button class="btn btn-outline-primary btn-lg" style="margin-top:12px">voltar</button>
		</a>
	</div>
	<hr style="margin:3px;">
